.underline {
  text-decoration: underline;
}
@media (min-width: 576px) {
  .sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
  }
}
.study-content th, td {
  border: 1px solid black;
  padding: 0 10px 0 10px
}

